.wrapper{  
    @include flex-center-column; 
    @include reset-p-m;


    color: $color-white;    
    text-align: center;
    .main{
        font-family: $font-family-akaya;
        min-height: $calc-height;

        .hire-link{           
            @include cta;                
        }
    }
    ul,a{
        @include reset-text;
    }
}

// ---------- HOME PAGE -----------------
.home-wrap{    
    @include custom-flex(space-between,center,column);
    height: 100vh;

    .main{
        @include overlay; 
        @include flex-center-row; 
        height: 100%; 

        .content-wrap{
            @include custom-flex(space-between,center,row-reverse);
            height: 100%; 
            flex-wrap: wrap;  
            padding: 30px;         

            @media only screen and (max-width:800px) {
                @include custom-flex(center,center,row-reverse);
            }
            .hire-wrap{
                z-index: 5;                
            }

            .img-wrap{
                height: 400px;
                width: auto;                
                z-index: 5; 

                @media only screen and (max-width:800px) {
                    height: 250px;
                }               
            }
            .info-img{
                width: 100%;
                height: 100%;
                @include border-corner;
            }
            .text-wrap{
                z-index: 5;
                
                h1,h2{
                    @include header(70px);          
                }
                h1{
                    @include custom-flex(flex-start,center,row);
                }
                h2{
                    @include custom-flex(flex-end,center,row);
                }

                @media only screen and (max-width:800px) {
                    h1,h2{
                        font-size: 30px;                
                    }
                }
            }
        }
    }
}

// ---------- Projects PAGE -----------------


.projects-wrap{
    @include background($img2);

    .projects-list{
        @include reset-p-m;
        margin-top:80px;
       
        @media only screen and (max-width:800px) {
            margin-top:10px;
        }

        .project-header{            
            @include header(60px);

        }
        .project-info{
            color: $color-primary;
        }
        .list-item{
            @include flex-center-row;            
        }
        .project-img{
            @include img-wrap(300px,600px);

            @media only screen and (max-width:800px) {
                max-width: 100%;
            }
        }
        .btn{
            color: $color-white;
        }        
    }
}





// ---------- About PAGE -----------------

.about-wrap{
    @include background($img2);
    h1,h2{
        @include header(70px);
           
    }
    .headline{
        padding-bottom: 100px;
        h1{            
            font-size: 60px;
        }

        @media only screen and (max-width:800px) {
            padding-bottom: 20px;

            h1{            
                font-size: 40px;
            }
        }
    }
    h2{
        font-size: 30px;
    }
    h4{
        text-align: justify;
        color: $color-primary;
    }

    .info-wrap,.info-wrap2{
        @include custom-flex(space-between,center,row-reverse);
        flex-wrap: wrap;
        .text-wrap{
            @include custom-flex(space-between,center,column);
            height: 100%;
        }
        .img-wrap{
            @media only screen and (max-width:1200px) {
                max-width: 300px;
                margin: auto;
            }
        }
        .info-img{
            @include img-wrap(300px,300px);

            @media only screen and (max-width:800px) {
                @include border-corner;
                margin: auto; 
                padding: 0;
               
            }
            @media only screen and (max-width:1200px) {
                max-width: 100%;
            }
        }
    }
    .info-wrap2{
        @include custom-flex(space-between,center,row);
    }

}


// ---------- Contact PAGE -----------------

.contact-wrap{
    @include flex-center-column;
    @include background($img2);

    .main{
        @include custom-flex(space-between,center,column);
        .list-item-link{
            @include link-btn;
        }
        .list{
            @include reset-p-m;
            @include border-t-b;
            margin-top: 50px;
            margin-bottom: 50px;
            
            @media only screen and (max-width:800px) {
                width: 100%;  
            }
        }
        h2{
            text-shadow: 0 0 15px $color-primary;
        }
    }
    .contact-headline{
        @include custom-flex(space-between,center,row);
        @include hover-transition;
        margin: auto;
        width: 600px;        
        padding: 0 5px;

        @media only screen and (max-width:800px) {
            width: 100%;  
            font-size: 25px;
        }
    }
    .contact-header{
        @include header(70px);
        margin-top: 50px;

        @media only screen and (max-width:800px) {
            width: 100%;  
            font-size: 40px;
        }

    }
    .contact-text{
        color:$color-primary;
        padding: 20px;       
    }
}