.header{
    @include flex-center-row;
    height: $nav-height;
    z-index: 99999;
    .navbar-collapse{
        transition: all 0.5s ease-in-out;
    }


    .nav-link{
        @include reset-text;
        @include link-btn;
        @include hover-transition;
    }

    @media only screen and (max-width:800px) {
        height: auto;
        background-color: $color-primary;
        .navbar{
            .container-fluid{
                @include flex-center-column;

            }
        }
    }
}